<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/venta.css">
</head>
<body>

    <div class="content">

        <nav>
            <ul>
                <div class="btns">

                    <a class="nav-btn" href="load-products.html">Cargar Productos</a>
                    <a class="nav-btn" href="">Vender</a>
                    <a class="nav-btn" href="">Inventario</a>
                    
                </div>

                <div class="perfil-img">

                </div>

            </ul>
        </nav>

        <div class="productos">



        </div>
    </div>

    <script type="module" src="../scripts/logica-de-carga-de-productos/carga.js"></script>
    <script type="module" src="../scripts/logica-de-carga-de-productos/mostrarproductos.js"></script>
    
</body>
</html>